* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;

}

header {
  /*background-color: rgb(236, 214, 255);*/
  background-image: linear-gradient(150deg,
      pink,
      purple,
      rgb(66, 19, 183));
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
  z-index: 9999;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}

.icon {
  position: relative;
  top: 4px;
}

.sub_menu {
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: rgb(168, 98, 233);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
}

.link:hover:after {
  width: 100%;
  right: 0;
}

a:visited {
  color: inherit;
}


/*==========================================Contenido===================================================*/

#contenido {
  /*background-color: rgb(236, 214, 255);*/
  background-image: linear-gradient(150deg,
      pink,
      rgb(240, 133, 240),
      rgb(232, 156, 255));
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}


#contenido {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header {
  height: 100px;
}

/*====================================logo y texto====================================================== */


.Logo {
  width: 10%;
  height: auto;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text-Logo {
  margin: 20px;

}

.text-L {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

.about {
  margin: 20px;
}

.text {
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

/*====================================game image====================================================== */

.game-image {
  height: 300px;
}

#animal-image {
  position: absolute;
  top: 50%;
  /* Mueve la imagen hacia abajo en un 50% de la altura del contenedor */
  left: 0;
  /* Coloca la imagen en la posición más a la izquierda del contenedor */
  transform: translate(500px, 500px);
  /* Alinea verticalmente la imagen */
}

.contenedor {
  position: relative;
  height: 400px;
  /* Ajusta la altura según tus necesidades */
  width: 400px;
  /* Ajusta el ancho según tus necesidades */
  margin: 0;
  /* Elimina los márgenes */
  padding: 0;
  /* Elimina el relleno */
}

.contenedor img {
  display: flex;
  position: absolute;
  top: 50%;
  /* Mueve la imagen hacia abajo en un 50% de la altura del contenedor */
  left: 0;
  /* Coloca la imagen en la posición más a la izquierda del contenedor */
  transform: translate(-400px, 10px);
  /* Alinea verticalmente la imagen */
}

/*====================================text terra====================================================== */

#texto-terra {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  transform: translate(-50px, 250px);
  margin: 0px;
  width: 800px;
}

#texto-animal {
  width: 800px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  transform: translate(-400px, 560px);
}


/*====================================footer====================================================== */

footer {
  height: 10vh;
  background-color: rgb(152, 20, 192);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: auto;
  padding-top: 10px;
  padding-right: 10px;
}

.Copy {
  display: flex;
  margin: 10px;
}

.redes {
  display: flex;

}

.img-redes {
  width: 30px;
  height: auto;
  margin: 10px;
}

#div-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 10000000;
}

#div-cookies p {
  font-size: 16px;
}