
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-color:rgb(236, 214, 255);
  font-family: 'Courier New', Courier, monospace;
}
.Logo{
  width: 30%;
  height: auto;

}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.imagenTeam{
  width: 200px;
  height: auto;
  
}

.Team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

.P1, .P2, .P3 {
  width: 30%;
}


.textoTeam{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.descriptionTeam{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: auto;
  white-space: nowrap; /* Evita que las imágenes se dividan en varias líneas */
  overflow: hidden;
}

.carousel img {
  display: inline-block; /* Muestra las imágenes una junto a la otra */
  width: 20%; /* Ajusta el ancho automáticamente */
  height: auto; /* Ajusta la altura al 100% del contenedor */
  vertical-align: top; /* Alinea las imágenes en la parte superior del contenedor */
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

@keyframes carousel {
  0% { transform: translateX(0); }
  33.333% { transform: translateX(-33.333%); }
  66.666% { transform: translateX(-66.666%); }
  100% { transform: translateX(-100%); }
}

.carousel img {
  animation: carousel 12s infinite;
}

footer{
  height: 10vh;
  background-color: rgb(164, 124, 198);
  color: #fff;
}

