* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(236, 214, 255);
  font-family: 'Courier New', Courier, monospace;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
  z-index: 9999;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}

.icon {
  position: relative;
  top: 4px;
}

.sub_menu {
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: rgb(168, 98, 233);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
}

.link:hover:after {
  width: 100%;
  right: 0;
}

a:visited {
  color: inherit;
}

/*----------------------------------------------------------*/
.Logo {
  width: 30%;
  height: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text-Logo {
  margin: 20px;

}

.text-L {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  text-align: center;
}

.about {
  margin: 20px;
}

.text {
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

/*----------------------------------------------------------*/

.imagenTeam {
  width: 200px;
  height: auto;
}

.Team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: auto;
}

.P1,
.P2,
.P3 {
  width: 30%;

}

@media (max-width: 800px) {

  .P1,
  .P2,
  .P3 {
    width: 100%;
  }
}

.imagenP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.textoTeam {
  padding-left: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.descriptionTeam {
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  overflow: break-word;
}

.descriptionTeam-1 {
  word-wrap: break-word;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .descriptionTeam {
    text-align: left;
  }
}

/*----------------------------------------------------------*/

.carousel {
  width: 100%;
  height: auto;
  white-space: nowrap;
  /* Evita que las imágenes se dividan en varias líneas */
  overflow: hidden;
}

.carousel img {
  display: inline-block;
  /* Muestra las imágenes una junto a la otra */
  width: 20%;
  /* Ajusta el ancho automáticamente */
  height: auto;
  /* Ajusta la altura al 100% del contenedor */
  vertical-align: top;
  /* Alinea las imágenes en la parte superior del contenedor */
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  33.333% {
    transform: translateX(-33.333%);
  }

  66.666% {
    transform: translateX(-66.666%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel img {
  animation: carousel 12s infinite;
}

/*----------------------------------------------------------*/
footer {
  height: 10vh;
  background-color: rgb(164, 124, 198);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: auto;
  padding-top: 10px;
  padding-right: 10px;
}

.Copy {
  display: flex;
  margin: 10px;
}

.redes {
  display: flex;

}

.img-redes {
  width: 30px;
  height: auto;
  margin: 10px;
}