
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  /*background-color:rgb(236, 214, 255);*/
  background-color: rgb(255, 191, 211);
  font-family: 'Courier New', Courier, monospace;
}
/*----------------------------------------------------------*/
.Logo{
  width: 30%;
  height: auto;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Text-Logo{
  margin: 20px;

}
.text-L{
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  text-align: center;
}
.about{
  margin: 20px;
}
.text{
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}
/*----------------------------------------------------------*/


@media (max-width: 800px){
  .P1, .P2, .P3{
    width: 100%;
  }
}

.imagenP{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.titulo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.info{
  text-align: left;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  margin-bottom: 20px;
  overflow: break-word;
}


@media (max-width: 800px){
  .descriptionTeam{
    text-align: left;
  }
}
/*----------------------------------------------------------*/
.article1{
  margin: 10px;
}

.bienvenida{
  margin-bottom: 10px;
}
.titulo{
  margin-bottom: 20px;
}

.parrafo{
  margin-bottom: 20px;
}

/*----------------------------------------------------------*/
footer{
  height: 10vh;
  /*background-color: rgb(164, 124, 198);*/
  background-color: palevioletred;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: auto;
  padding-top: 10px;
  padding-right: 10px;
}
.Copy{
  display: flex;
  margin: 10px;
}

.redes{
  display: flex;

}
.img-redes{
  width: 30px;
  height: auto;
  margin: 10px;
}

#div-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 10000000;
}

#div-cookies p {
  font-size: 16px;
}

