* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
    150deg,
    pink,
    rgb(240, 133, 240),
    rgb(232, 156, 255)

  );
  }

  
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
  z-index: 9999;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}

.icon{
  position: relative;
  top: 4px;
}

.sub_menu{
  list-style: none;
}

.link{
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.link:after{
  content: "";
  width: 0;
  height: 4px;
  background-color: rgb(168, 98, 233);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
}

.link:hover:after{
  width: 100%;
  right: 0;
}

a:visited {
  color: inherit;
}




#contenido {
  /*background-color: rgb(236, 214, 255);*/
  background-image: linear-gradient(
    150deg,
    pink,
    rgb(247, 90, 247),
    rgb(232, 156, 255)

  );
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}


#contenido {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .product-list {
    flex: 1 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 82vh;
  }
  
  .product-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    transition: box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-info h2 {
    color: #333;
    font-size: 18px;
    margin: 0;
  }
  
  .product-info p {
    color: #777;
    font-size: 14px;
    margin: 10px 0;
  }
  
  .price {
    font-weight: bold;
  }
  
  .buy-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #888888;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #555;
  }
  

  
  /*====================================footer====================================================== */

footer{
    background-color:rgb(152, 20, 192);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  }
  .Copy{
    display: flex;
    margin: 10px;
  }
  
  .redes{
    display: flex;
  
  }
  .img-redes{
    width: 30px;
    height: auto;
    margin: 10px;
  }
  